<div class="position-relative">
  <div class="banner d-flex flex-column align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 2000, crop: :crop %>')">
    <h1 class="color-white title"><%= @list.name %></h1>
  </div>

  <div class="btn btn-info btn-white movie-tag mt-5">
    <p class=""><%= @list.movies.count %> movies</p>
  </div>
</div>




<div class="container mt-5 d-flex flex-column">
  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-success btn-white align-self-end mb-3 mr-3"  %>

  <div class="d-flex">
    <div class="d-flex flex-wrap justify-content-center justify-content-center">
      <% @list.movies.each do |movie| %>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <div class="background-movie-card movie-card d-flex flex-column m-2">
          <%= image_tag movie.poster_url, alt: "alttext", class: "movie-poster" %>
          <div class="p-3">
            <div class="d-flex align-items-center">
              <p class="movie-title mr-2"><%= movie.title %></p>
              <p class="movie-point mr-2">·</p>
              <p class="movie-rating mr-2"><%= movie.rating %></p>
              <i class="fas fa-star star"></i>
            </div>
            <p class="movie-overview"> <%= movie.overview %> </p>
            <div class="d-flex justify-content-between align-items-center mt-3">
              <p><i class="fas fa-quote-left fa-lg"></i> <%= bookmark.comment %></p>
              <%= link_to "delete", bookmark_path(bookmark), class: "btn btn-red", method: :delete, data: { confirm: "Are you sure?"} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>


  </div>
</div>

<!-- movie.bookmarks.where(list_id: @list.id).first.comment -->
